@import "../../../../stylesheets/elements/grid-cards.css";

.container {
    display:        flex;
    flex-direction: column;
    position:       relative;
    width:          100%;
    height:         fit-content;
    padding-top:    calc(var(--header-big-height) + 80vh);
    padding-bottom: 100px;
}

.banner {
    padding:               80px 32px;
    width:                 100%;
    height:                80vh;
    display:               flex;
    align-items:           flex-end;
    justify-content:       flex-end;
    z-index:               -1;
    position:              absolute;
    left:                  0;
    right:                 0;
    top:                   var(--header-big-height);
    background-attachment: fixed;
    background-position:   center;
    background-repeat:     no-repeat;
    background-size:       cover;

    h1 {
        font-size:   4em;
        font-weight: 600;
        color:       var(--background-primary);
        text-align:  right;
    }

    @media screen and (max-width: 600px) {
        padding: 80px 16px;

        h1 {
            font-size: 2.5em;
        }
    }
}

.blog-container {
    width:          100%;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    max-width:      1400px;
    margin:         0 auto;
    padding:        70px 16px 0;
    position:       relative;

    @media screen and (max-width: 1300px) {
        padding: 10px 16px 0;
    }

    .author {
        position:       absolute;
        width:          fit-content;
        right:          0;
        top:            70px;
        display:        flex;
        flex-direction: column;
        align-items:    center;
        padding:        0 16px;

        @media screen and (max-width: 1300px) {
            position:      relative;
            top:           unset;
            margin-bottom: 30px;
        }

        .month {
            width:           100%;
            align-items:     center;
            justify-content: center;
            display:         flex;
            flex-direction:  column;
            gap:             5px;
            margin-bottom:   10px;

            span:nth-child(1) {
                font-family: var(--ff-inter), sans-serif;
                font-size:      17px;
                font-weight: 700;
                text-transform: uppercase;
            }

            span:nth-child(2) {
                font-family:    var(--ff-lato), sans-serif;
                font-size:      30px;
                font-weight:    600;
                text-transform: uppercase;
            }

            @media screen and (max-width: 1300px) {
                flex-direction: row;
                margin-bottom:  3px;

                span {
                    font-family: var(--ff-roboto), sans-serif !important;
                    font-size:   15px !important;
                    font-weight: 600 !important;
                }
            }
        }

        .separator {
            color:          var(--background-secondary);
            letter-spacing: 3px;

            &:nth-child(4) {
                display: none;
            }

            @media screen and (max-width: 1300px) {
                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(4) {
                    display: block;
                }
            }
        }

        .quote {
            font-size:   17px;
            text-align:  center;
            font-family: var(--ff-viaoda), sans-serif;
            font-weight: 500;
            font-style:  italic;
            color:       var(--text-secondary);
            max-width:   600px;
            display:     none;
            margin:      10px 0;

            @media screen and (max-width: 1300px) {
                display: block;
            }
        }

        .name {
            display:        flex;
            flex-direction: column;
            gap:            5px;
            margin:         15px 0;

            span:nth-child(1) {
                color:       var(--text-accent);
                font-family: var(--ff-viaoda), sans-serif;
                font-weight: 600;
                font-style:  italic;
                font-size:   15px;
                text-align:  center;
            }

            span:nth-child(2) {
                font-family: var(--ff-viaoda), sans-serif;
                font-weight: 600;
                font-style:  italic;
                font-size:   15px;
                text-align:  center;
            }

            @media screen and (max-width: 1300px) {
                flex-direction: row;
                margin-top:     0;

                span {
                }
            }
        }
    }

    .text-container {
        width:          100%;
        display:        flex;
        flex-direction: column;
        align-items:    center;

        p {
            max-width:     800px;
            font-size:     19px;
            font-weight:   500;
            line-height:   180%;
            color:         var(--text-secondary);
            font-family:   var(--ff-tinos), sans-serif;
            margin-bottom: 20px;

            @media screen and (max-width: 600px) {
                line-height: 150%;
                font-size:   17px;
            }
        }

        .images-container {
            overflow: visible;

            figcaption {
                margin:      0 10px 30px;
                text-align:  center;
                font-weight: 400;
                font-style:  italic;
                line-height: 160%;
                font-size:   17px;
                font-family: var(--ff-tinos), sans-serif;
                color:       var(--text-secondary);

                @media screen and (max-width: 600px) {
                    font-size:   13px;
                    line-height: 130%;
                }
            }

            .images {
                display: flex;
                gap:     20px;

                @media screen and (max-width: 800px) {
                    flex-direction: column;
                }
            }

            .image {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.gallery-container {
    padding:   0 32px;
    width:     100%;
    max-width: 1400px;
    margin:    0 auto;

    .name {
        display:         flex;
        flex-direction:  row;
        justify-content: flex-end;
        max-width:       1200px;
        width:           100%;
        margin:          0 auto;
        padding:         100px 0 100px;

        h1 {
            font-size:      4em;
            font-weight:    500;
            font-family:    var(--ff-manrope), sans-serif;
            letter-spacing: 1px;
        }
    }

    .gallery {
        display:        flex;
        flex-direction: row;
        gap:            20px;

        div {
            height:         fit-content;
            display:        flex;
            flex-direction: column;
            gap:            20px;

            img {
                width:     100%;
                opacity:   0;
                transform: translateY(100px);
            }

            img.visible {
                animation: slideInY .5s cubic-bezier(.2, .9, .3, 1) forwards;
            }
        }
    }

    @media screen and (max-width: 684px) {
        padding: 0 16px;
    }
}

.other-blogs-container {
    width:      100vw;
    position:   relative;
    background: var(--text-primary);
    overflow:   hidden;
    margin-top: 30px;
    z-index:    1;
    padding:    32px 16px;

    .bg {
        position:   absolute;
        top:        50%;
        left:       50%;
        transform:  translate(-50%, -50%) rotate(90deg);
        height:     100vw;
        filter:     invert(1) brightness(0.7) opacity(0.3);
        object-fit: cover;
        z-index:    -1;
    }

    .content {
        min-height:     300px;
        display:        flex;
        flex-direction: row;
        align-items:    center;
        gap:            20px;
        max-width:      1400px;
        margin:         0 auto;
        color:          var(--background-primary);

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }

        .header {
            width:          100%;
            display:        flex;
            flex-direction: column;
            gap:            20px;

            h1 {
                margin:         0;
                letter-spacing: 0.1px;
                font-family:    var(--ff-lato), sans-serif;
            }

            p {
                font-size:   17px;
                font-family: var(--ff-tinos), sans-serif;
                font-weight: 400;
            }

            a {
                display:             flex;
                flex-direction:      row;
                gap:                 5px;
                align-items:         center;
                font-size:           17px;
                font-weight:         600;
                font-family:         var(--ff-roboto), sans-serif;
                text-transform:      uppercase;
                letter-spacing:      0.3px;
                transition-duration: .3s;
                cursor:              pointer;

                &:hover {
                    animation:      floating-arrow 1s infinite;
                    letter-spacing: 0.5px;
                }
            }
        }

        .blogs {
            width:          100%;
            display:        flex;
            flex-direction: row;
            gap:            20px;

            @media screen and (max-width: 500px) {
                flex-direction: column;
                padding:        0 16px;
            }

            .blog {
                width:           100%;
                aspect-ratio:    5/3;
                position:        relative;
                z-index:         1;
                border-radius:   var(--br-16);
                overflow:        hidden;
                display:         flex;
                align-items:     center;
                justify-content: center;
                user-select:     none;
                cursor:          pointer;
                padding:         16px;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    position:            absolute;
                    z-index:             -1;
                    top:                 0;
                    left:                0;
                    width:               100%;
                    height:              100%;
                    filter:              brightness(0.6);
                    transition-duration: .3s;
                }

                p {
                    font-size:   24px;
                    font-family: var(--ff-tinos), sans-serif;
                }

                @media screen and (max-width: 1200px) {
                    &:nth-child(n+3) {
                        display: none;
                    }
                }

                @media screen and (max-width: 1000px) {
                    &:nth-child(n+3) {
                        display: flex;
                    }
                }

                @media screen and (max-width: 600px) {
                    &:nth-child(n+3) {
                        display: none;
                    }
                }
            }
        }
    }
}

@keyframes floating-arrow {
    from {
        gap: 5px;
    }
    50% {
        gap: 10px;
    }
    to {
        gap: 5px;
    }
}
