<div class="container">

    @if (blogLoaded()) {
        <div class="banner" [style]="{'background-image': 'url('+blog.preview+')'}">
            <h1>{{ blog.title }}</h1>
        </div>

        <div class="blog-container">
            <div class="author">
                <p class="month">
                    <span>{{ getMonth() }}</span>
                    <span>{{ getDate() }}</span>
                </p>
                <p class="separator">•••••••••••••••••</p>
                <p class="name">
                    <span>Автор:</span>
                    <span>Борисов Никита</span>
                </p>
                <p class="separator">•••••••••••••••••</p>
                <p class="quote">{{ blog.small_content }}</p>
                <p class="separator">•••••••••••••••••</p>
            </div>
            <div class="text-container">
                @for (blogContent of blogContent; track blog) {
                    @if (getElementTag(blogContent.content) === 'w') {
                        <p style="width: 100%;" [innerHTML]="blogContent.content"></p>
                    } @else {
                        <p [innerHTML]="blogContent.content"></p>
                    }

                    <figure
                        [style.max-width]="blogContent.images.length === 1 ? '600px' : 'none'"
                        class="images-container"
                    >
                        <div class="images">
                            @for (imageSrc of blogContent.images; track blog) {
                                <div class="image">
                                    <picture>
                                        <img [src]="'images/' + blog.id + '/' + imageSrc" alt="blog image"
                                             loading="lazy">
                                    </picture>
                                </div>
                            }
                        </div>
                        @if (blogContent.title) {
                            <figcaption>{{ blogContent.title }}</figcaption>
                        }
                    </figure>
                }
            </div>
        </div>

        <div class="gallery-container">
            <div class="name">
                <h1 split-heading [splitText]="'Галлерея события'">&nbsp;</h1>
            </div>

            <div class="gallery" #gallery>
            </div>
        </div>

        <div class="other-blogs-container">
            <img class="bg" src="banner/blog-background.png" alt="blog background">
            <div class="content">
                <div class="header">
                    <h1>Посмотрите другие походы</h1>
                    <p>Постоянный условий количественный особенности направлений повседневная активизации. Позиций, рост
                        особенности показывает, активности организации, направлений нашей а подготовки нашей
                        развития.</p>
                    <a (click)="redirectTo('blogs')">
                        Читать ещё
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="12"
                             fill="none" viewBox="0 0 24 12">
                            <path fill="currentColor"
                                  d="M0 5.113h20.644L17.577 2.04 18.804.804 24 6l-5.196 5.196-1.227-1.235 3.067-3.074H0z"></path>
                        </svg>
                    </a>
                </div>
                <div class="blogs">
                    <div (click)="redirectTo('futures')" class="blog">
                        <img src="images/mvp/img3.png" alt="images">
                        <p>Следующие</p>
                    </div>
                    <div (click)="redirectTo('blogs')" class="blog">
                        <img src="images/mvp/img4.png" alt="images">
                        <p>Прошлые</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid2">

            @for (blog of blogs()|slice:0:3; track blog.id) {
                <div class="card fixed-container" style="grid-column: span 1;">
                    <div (click)="redirectTo('blog/' + 1)" class="card separate-card" style="--trans-delay: 0.0s;"
                         #visible>
                        <div class="card-slide-minus">
                            <div class="moveable-image" moveable-image>
                                <img [src]="blog.preview" alt="image">
                            </div>
                        </div>
                        <div class="content flex-start">
                            <h1>{{ blog.title }}</h1>
                            <p>{{ blog.small_content }}</p>
                            <a>
                                Читать далее
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="12"
                                     fill="none" viewBox="0 0 24 12">
                                    <path fill="currentColor"
                                          d="M0 5.113h20.644L17.577 2.04 18.804.804 24 6l-5.196 5.196-1.227-1.235 3.067-3.074H0z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>
    } @else {

    }
</div>
