@import "../../../stylesheets/elements/grid-cards.css";

.container {
    --px:      32px;
    max-width: 1440px;
    margin:    0 auto;
    display:        flex;
    flex-direction: column;
    width:          100%;
    height:         fit-content;
    padding:   var(--header-big-height) var(--px) 100px var(--px);

    @media screen and (max-width: 1100px) {
        --px: 16px;
    }
}

.banner {
    width: 100%;

    .banner-content {
        width:          100%;
        display:        flex;
        flex-direction: row;
        gap:            20px;
        position:       relative;
        margin-top: 40px;

        & > div:nth-child(1) {
            width: 60%;

            @media screen and (max-width: 1100px) {
                width: 65%;
            }

            @media screen and (max-width: 1050px) {
                width: 100%;
            }

            @media screen and (max-width: 600px) {
                padding-bottom: 220px;
                & > div:nth-child(2) {
                    & > div:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

        & > div:nth-child(2) {
            width: 40%;

            @media screen and (max-width: 1100px) {
                width: 35%;
            }
        }

        .second-column {
            @media screen and (max-width: 1050px) {
                width:    calc((100% - 20px) / 2) !important;
                position: absolute;
                bottom:   0;
                right:    0;

                & > div:nth-child(2) {
                    display: none;
                }
            }

            @media screen and (max-width: 600px) {
                width: 100% !important;

                p {
                    display: none;
                }
            }
        }

        .card {
            width:           100%;
            aspect-ratio:    3/2;
            border-radius:   var(--br-16);
            position:        relative;
            overflow:        hidden;
            display:         flex;
            flex-direction:  column;
            justify-content: flex-end;
            color:           var(--background-primary);
            cursor:          pointer;
            container-type:  inline-size;
            z-index:         1;
            min-height:      200px;

            @media screen and (max-width: 600px) {
                &.height-200 {
                    height:       200px;
                    aspect-ratio: unset;
                }
            }

            button {
                padding:             20px 32px;
                /*background:          var(--background-accent);*/
                z-index:             1;
                border:              none;
                outline:             none;
                color:               var(--background-secondary);
                border-radius:       var(--br-16);
                width:               fit-content;
                height:              fit-content;
                position:            absolute;
                top:                 16px;
                right:               16px;
                font-weight:         700;
                cursor:              pointer;
                transition-duration: .3s;

                &::before {
                    width:               100%;
                    height:              100%;
                    position:            absolute;
                    inset:               0;
                    content:             "";
                    border-radius:       var(--br-16);
                    background:          var(--background-accent);
                    z-index:             -1;
                    transition-duration: .6s;
                    transform-origin:    center;
                }

                &:hover {
                    /*padding: 20px 40px;*/
                    color: var(--background-primary);

                    &::before {
                        transform: scale(12);

                        @media screen and (max-width: 1000px) {
                            transform: scale(10);
                        }
                    }
                }
            }

            .card-content {
                padding:        32px;
                display:        flex;
                flex-direction: column;
                gap:            10px;
                position:       relative;
                z-index:        2;

                h1 {
                    font-size:   30px;
                    margin:      0;
                    font-family: var(--ff-tinos), sans-serif;

                    @container (max-width: 400px) {
                        font-size: 25px;
                    }

                    @container (max-width: 300px) {
                        font-size: 20px;
                    }
                }

                p {
                    font-size:          18px;
                    font-family:        var(--ff-noto), sans-serif;
                    color:              var(--background-secondary);
                    display:            -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow:           hidden;

                    @container (max-width: 400px) {
                        font-size: 16px;

                        @media screen and (max-width: 1100px) {
                            display: none;
                        }
                    }
                }
            }

            .shadow {
                position:   absolute;
                width:      100%;
                height:     100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
                z-index:    -1;
            }

            img {
                position:        absolute;
                width:           100%;
                height:          100%;
                object-fit:      cover;
                object-position: center;
                z-index:         -2;
            }
        }
    }
}

.news-container {
    display:        flex;
    flex-direction: row;
    gap:            30px;
    width:          100%;
    max-width:      1400px;
    margin:         0 auto;
    padding:        0 32px;
}

.main-content {
    display:        flex;
    flex-direction: row;
    gap:            20px;
    margin-top:     50px;
}

.blogs-content {
    width:          100%;
    display:        flex;
    flex-direction: column;
    gap:            20px;
    border-radius:  var(--br-16);
    padding:        16px;

    @media screen and (max-width: 1100px) {
        padding: 16px 0;
    }

    @media screen and (max-width: 750px) {
        padding: 0;
    }

    .inputs-container {
        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
        gap:            20px;
        background:     var(--background-neutral);
        padding:        16px;
        border-radius:  var(--br-16);

        .search-label {
            --py:     10px;
            --px:     16px;
            --svg-w:  18px;
            display:  flex;
            position: relative;

            input {
                height:         42px;
                display:        flex;
                flex-direction: row;
                align-items:    center;
                min-width:      400px;
                border:         none;
                outline:        none;
                padding:        var(--py) var(--px) var(--py) calc(var(--px) + var(--svg-w) + var(--px));
                border-radius:  var(--br-8);
                font-size:      var(--svg-w);
                color:          var(--text-secondary);
            }

            div {
                position:  absolute;
                display:   flex;
                width:     var(--svg-w);
                height:    var(--svg-w);
                top:       50%;
                left:      var(--px);
                transform: translateY(-50%);

                svg {
                    width: var(--svg-w);
                }
            }

            @media screen and (max-width: 600px) {
                width: 100%;

                input {
                    width:     100%;
                    min-width: unset;
                }
            }
        }

        select {
            display:        flex;
            padding:        10px 16px;
            border:         none;
            background:     var(--background-primary);
            color:          var(--text-primary);
            height:         42px;
            flex-direction: row;
            align-items:    center;
            border-radius:  var(--br-8);
            min-width:      120px;
            font-size:      18px;
            font-weight:    600;
        }
    }

    .title {
        @media screen and (max-width: 750px) {
            margin-left: 16px;
        }
    }

    .blog-card {
        width:          100%;
        display:        flex;
        flex-direction: row;
        gap:            20px;
        background:     rgba(from var(--background-neutral) r g b / 0.3);

        @media screen and (max-width: 600px) {
            flex-direction: column-reverse;
            gap:            0;
        }

        .card-content {
            width:           100%;
            padding:         24px 16px;
            display:         flex;
            flex-direction:  column;
            justify-content: space-between;
            height:          100%;

            .card-name {
                font-size:   24px;
                font-weight: 600;
                font-family: var(--ff-lato), sans-serif;

                @media screen and (max-width: 700px) {
                    font-size: 20px;
                }
            }

            .card-date {
                font-size:   18px;
                font-weight: 600;
                color:       var(--text-secondary);
                font-family: var(--ff-inter), sans-serif;

                @media screen and (max-width: 700px) {
                    font-size: 16px;
                }
            }

            .card-description {
                font-size:      16px;
                font-family:    var(--ff-lato), sans-serif;
                color:          var(--text-accent);
                line-height:    130%;
                letter-spacing: .3px;
                margin:         16px 0;

                @media screen and (max-width: 700px) {
                    font-size: 14px;
                }
            }

            .info {
                margin:         20px 0;
                display:        flex;
                flex-direction: column;
                gap:            20px;

                .line {
                    display:         flex;
                    flex-direction:  row;
                    justify-content: space-between;
                    align-items:     flex-end;
                    padding-bottom:  8px;

                    p {
                        font-size:   18px;
                        font-weight: 600;
                        font-family: var(--ff-inter), sans-serif;

                        @media screen and (max-width: 700px) {
                            font-size: 14px;
                        }
                    }

                    p:nth-child(1) {
                        color: var(--text-secondary);
                        /*font-family: var(--ff-lato), sans-serif;*/
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid var(--text-accent);
                    }
                }
            }

            .buttons {
                display:        flex;
                flex-direction: row;
                align-items:    center;
                gap:            20px;

                @media screen and (max-width: 700px) {
                    a {
                        display: none;
                    }
                }
            }
        }

        .card-preview {
            display: flex;
            width:   100%;
            height:  100%;
            max-width: 500px;

            img {
                width:           100%;
                aspect-ratio:    1/1;
                object-fit:      cover;
                object-position: center;
            }

            @media screen and (max-width: 600px) {
                max-width: 100vw;

                img {
                    aspect-ratio: 3/2;
                }
            }
        }
    }
}
