<div class="container">

    <div class="banner">
        <p class="banner-header"><span>Прошлые</span> походы</p>

        <div class="content">
            <div class="flex flex-col gap-20">
                <div (click)="redirectToId(1)" class="card">
                    <img src="banner/img5.jpg" alt="banner image">
                    <div class="shadow"></div>
                    <div class="card-content">
                        <h1>Системный подход к детскому туризму</h1>
                        <p>Путь по цветущим альпийским лугам поражает буйством красок и разнотравья.</p>
                    </div>
                </div>

                <div class="flex flex-row gap-20">
                    <div (click)="redirectToId(1)" class="card height-200">
                        <img src="banner/img6.jpg" alt="banner">
                        <div class="shadow"></div>
                        <div class="card-content">
                            <h1>Сплав по Жиздре 2025</h1>
                            <p>Каждый шаг по этой живой картине дарит ощущение легкости и свободы.</p>
                        </div>
                    </div>
                    <div (click)="redirectToId(1)" class="card">
                        <img src="banner/img7.jpg" alt="banner">
                        <div class="shadow"></div>
                        <div class="card-content">
                            <h1>ПВД "Русский север Подмосковья"</h1>
                            <p>Ночлег под шум воды и звездное небо остаются в памяти навсегда.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-20 second-column">
                <div (click)="redirectTo('futures')" class="card height-200"
                     style="background: var(--background-accent-3);">
                    <button>Смотреть</button>
                    <div class="card-content">
                        <h1>Смотрите также будущие походы</h1>
                        <p>С этой высоты мир кажется бескрайним и по-настоящему вашим.</p>
                    </div>
                </div>
                <div (click)="redirectToId(1)" class="card" style="background: var(--text-secondary);">
                    <div class="card-content">
                        <h1>ПВД "Утробинская лыжня"</h1>
                        <p>Вечерний привал у горного озера дарит чувство полного
                            умиротворения.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">

        <div class="blogs-content">
            <div class="inputs-container">
                <label class="search-label">
                    <input type="text" required="" placeholder="Поиск">
                    <div>
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <g>
                                <path stroke-width="2" stroke="black" d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                            </g>
                        </svg>
                    </div>
                </label>
                <div class="year-filter">

                </div>
            </div>

            <div class="content">
                <h1>Последние походы</h1>
                @for (blog of blogs(); track blogs) {
                    <div class="blog-card">
                        <div class="image">
                            <img [src]="blog.preview" alt="blog card">
                        </div>
                        <div class="text">
                            <p class="title">{{ blog.title }}</p>
                            <p class="small-content">{{ blog.small_content }}</p>
                            <div class="tags">
                                @for (tag of blog.tags; track blogs) {
                                    <div class="tag">
                                        <p>{{ tag }}</p>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="date">
                            <p>{{ blog.date }}</p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="filter-container">

        </div>

    </div>

</div>
