@import "../future-expeditions/future-expeditions.css";

.container {
    --px:          32px;
    max-width:     1440px;
    margin:        0 auto;
    padding-left:  var(--px);
    padding-right: var(--px);

    @media screen and (max-width: 700px) {
        --px: 16px;
    }
}

.banner {
    width: 100%;

    .banner-header {
        font-size:   3em;
        font-weight: 500;
        width:       100%;
        margin:      0;
        padding:     32px 0;

        span {
            font-weight: 800;
        }
    }

    .content {
        width:          100%;
        display:        flex;
        flex-direction: row;
        gap:            20px;
        position:       relative;

        & > div:nth-child(1) {
            width: 60%;

            @media screen and (max-width: 1100px) {
                width: 65%;
            }

            @media screen and (max-width: 1050px) {
                width: 100%;
            }

            @media screen and (max-width: 600px) {
                padding-bottom: 220px;
                & > div:nth-child(2) {
                    & > div:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

        & > div:nth-child(2) {
            width: 40%;

            @media screen and (max-width: 1100px) {
                width: 35%;
            }
        }

        .second-column {
            @media screen and (max-width: 1050px) {
                width:    calc((100% - 20px) / 2) !important;
                position: absolute;
                bottom:   0;
                right:    0;

                & > div:nth-child(2) {
                    display: none;
                }
            }

            @media screen and (max-width: 600px) {
                width: 100% !important;

                p {
                    display: none;
                }
            }
        }

        .card {
            width:           100%;
            aspect-ratio:    3/2;
            border-radius:   var(--br-16);
            position:        relative;
            overflow:        hidden;
            display:         flex;
            flex-direction:  column;
            justify-content: flex-end;
            color:           var(--background-primary);
            cursor:          pointer;
            container-type:  inline-size;
            z-index:         1;
            min-height:      200px;

            @media screen and (max-width: 600px) {
                &.height-200 {
                    height:       200px;
                    aspect-ratio: unset;
                }
            }

            button {
                padding:             20px 32px;
                /*background:          var(--background-accent);*/
                z-index:             1;
                border:              none;
                outline:             none;
                color:               var(--background-secondary);
                border-radius:       var(--br-16);
                width:               fit-content;
                height:              fit-content;
                position:            absolute;
                top:                 16px;
                right:               16px;
                font-weight:         700;
                cursor:              pointer;
                transition-duration: .3s;

                &::before {
                    width:               100%;
                    height:              100%;
                    position:            absolute;
                    inset:               0;
                    content:             '';
                    border-radius:       var(--br-16);
                    background:          var(--background-accent);
                    z-index:             -1;
                    transition-duration: .6s;
                    transform-origin:    center;
                }

                &:hover {
                    /*padding: 20px 40px;*/
                    color: var(--background-primary);

                    &::before {
                        transform: scale(12);

                        @media screen and (max-width: 1000px) {
                            transform: scale(10);
                        }
                    }
                }
            }

            .card-content {
                padding:        32px;
                display:        flex;
                flex-direction: column;
                gap:            10px;
                position:       relative;
                z-index:        2;

                h1 {
                    font-size:   30px;
                    margin:      0;
                    font-family: var(--ff-tinos), sans-serif;

                    @container (width < 400px) {
                        font-size: 25px;
                    }

                    @container (width < 300px) {
                        font-size: 20px;
                    }
                }

                p {
                    font-size:   18px;
                    font-family: var(--ff-noto), sans-serif;
                    color:       var(--background-secondary);

                    @container (width < 400px) {
                        font-size: 16px;

                        @media screen and (max-width: 1100px) {
                            display: none;
                        }
                    }
                }
            }

            .shadow {
                position:   absolute;
                width:      100%;
                height:     100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
                z-index:    -1;
            }

            img {
                position:        absolute;
                width:           100%;
                height:          100%;
                object-fit:      cover;
                object-position: center;
                z-index:         -2;
            }
        }
    }
}

.news-container {
    display:        flex;
    flex-direction: row;
    gap:            30px;
    width:          100%;
    max-width:      1400px;
    margin:         0 auto;
    padding:        0 32px;
}

.main-content {
    display:        flex;
    flex-direction: row;
    gap:            20px;
    margin-top:     50px;
}

.blogs-content {
    width:          100%;
    display:        flex;
    flex-direction: column;
    gap:            20px;
    background:     var(--background-neutral);
    border-radius:  var(--br-16);
    padding:        16px;

    .inputs-container {
        display:        flex;
        flex-direction: row;
        gap:            20px;

        .search-label {
            --py:     10px;
            --px:     16px;
            --svg-w:  18px;
            display:  flex;
            position: relative;

            input {
                min-width:     400px;
                border:        none;
                outline:       none;
                padding:       var(--py) var(--px) var(--py) calc(var(--px) + var(--svg-w) + var(--px));
                border-radius: var(--br-8);
                font-size:     var(--svg-w);
                color:         var(--text-secondary);
            }

            div {
                position:  absolute;
                display:   flex;
                width:     var(--svg-w);
                height:    var(--svg-w);
                top:       50%;
                left:      var(--px);
                transform: translateY(-50%);

                svg {
                    width: var(--svg-w);
                }
            }
        }
    }

    .content {
        display:        flex;
        flex-direction: column;
        gap:            20px;

        .blog-card {
            display:        flex;
            flex-direction: row;
            gap:            20px;

            .image {
                display: flex;

                img {
                    width:         300px;
                    aspect-ratio:  3/2;
                    object-fit:    cover;
                    border-radius: var(--br-16);
                }
            }

            .text {
                padding: 16px;

                .title {
                    font-size:   24px;
                    font-weight: 800;
                    font-family: var(--ff-tinos), sans-serif;
                }

                .small-content {
                    font-size:          18px;
                    color:              var(--text-accent);
                    margin-top:         10px;
                    display:            -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow:           hidden;
                }

                .tags {
                    margin-top:     20px;
                    display:        flex;
                    flex-direction: row;
                    gap:            10px;

                    .tag {
                        padding:       8px 16px;
                        border-radius: var(--br-8);
                        background:    rgba(from var(--background-accent) r g b / 0.6);
                        color:         var(--text-secondary);
                        font-size:     15px;
                        font-weight:   800;
                    }
                }
            }

            .date {
                padding: 16px 0;

                p {
                    font-size:   16px;
                    font-weight: 800;
                }
            }
        }
    }
}

.filter-container {
    width:         500px;
    background:    var(--background-neutral);
    border-radius: var(--br-16);
}
